$light-purple : #434657;
$bg-purple: #15172D;
$pink : #FA3252;
$purple-blue: #4C52FD;

.step-section {
    position: absolute; 
    top:9em;
    bottom:3em; 
    left:0; 
    right:0;
    
    padding:1em;
    background: -webkit-linear-gradient(#1C1F38, $bg-purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1C1F38, $bg-purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1C1F38, $bg-purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1C1F38, $bg-purple); /* Standard syntax */

    color: white;

    border-top: 1px solid rgba(0,0,0,.78);

    .section-title { 
        color: $purple-blue;
        margin:0 auto;
        text-align: center;
    }
}

#total-container {
    margin-top: 2em;
    input {
        font-size: 4em;
        background: transparent;
        max-width: 100%;
        border: none;
        text-align: center;
    }   
}

.fix-input { 
    background: transparent;
    border: none;
    border-bottom: 1px solid $pink;

    &:focus { outline : 0 ; }
}

.avatar-container{ 
    font-size:11px; 
    margin-bottom:1em;
    .avatar { 
        display:block;
        width:4em;
        height:4em;
        border-radius: 50%;
        background: #ccc;
        margin: 0 auto;
        margin-bottom:.5em;

        .glyphicon-ok { 
                height: 100%;
            width: 100%;
            display: block;
            font-size: 20px;
            top: 0.55em;
        }
    }
}


#transaction-details {
    background: white;
    margin: 0 -15px;
    padding:15px;
    padding-bottom:4em;
}

#submit-transaction { 
    background: $pink;
    text-align: center;
    padding: 1em;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-transform:  uppercase;
    
    #submit-btn { color: white;  }

    button { 
        text-transform: uppercase;
    }
}


#dial-pad {
    .dial-input { 
        opacity: .86;
        color: white;
        padding: .5em; 
        font-weight: 100; 
        font-size:2em;
    }
}


.fixed-or-equal { 

        &.left { border-radius: 12px 0px 0px 12px; }
        &.right { border-radius: 0px 12px 12px 0px; margin-left: -3px; }
        
        background: rgba(0, 0, 0, 0.78);
        border: none;
        width: 4em;
        opacity:.8; 
        margin: 0;
        
        &:focus { 
            outline:0;
        }

        &.active { 
            background : $pink;
            opacity:1;
        }
}