#total-container {
    input {
        font-size: 4em;
        background: transparent;
        max-width: 100%;
        border: none;
        text-align: center;
    }   
}

.avatar-container{ 
    font-size:11px; 
    margin-bottom:1em;
    .avatar { 
        display:block;
        width:4em;
        height:4em;
        border-radius: 50%;
        background: #ccc;
        margin: 0 auto;
        margin-bottom:.5em;

        .glyphicon-ok { 
                height: 100%;
            width: 100%;
            display: block;
            font-size: 20px;
            top: 0.55em;
        }
    }
}


#transaction-details {
    background: white;
    margin: 0 -15px;
    padding:15px;
    padding-bottom:4em;
}

#submit-transaction { 
    
    background: red;
    text-align: center;
    padding: 1em;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    #submit-btn { color: white;  }
}


#dial-pad {
    .dial-input { 
        opacity: .86;
        color: white;
        padding: .5em; 
        font-weight: 100; 
    }
}


.fixed-or-equal { 

        &.left { border-radius: 12px 0px 0px 12px; }
        &.right { border-radius: 0px 12px 12px 0px; margin-left: -3px; }
        
        background: rgba(0, 151, 236, 0.48);
        border: none;
        width: 4em;
        opacity:.8; 
        margin: 0;
        color: white;

        &.active { 
            background : #0097EC;
            opacity:1;
        }
}