<div id="total-container" class="row">
    <div id="amount" class="col-xs-12 col-centered">
      <input type="text" placeholder="$ {{total}}">
        
      </input>
    </div>
</div>
<!-- {{$localStorage}} -->

<div id="dial-pad" class="row">
  <div class="col-xs-12">
    <div class="row" >
      <div class="col-xs-4 text-center dial-input" ng-repeat="dial_btn in dial_btns" ng-bind="dial_btn" ng-click="append_number(dial_btn)"></div>
    </div>
  </div>
</div>


</br>
<div id="transaction-details">


    <div id="choosePayer" ng-if="showChoosePayer">
        <h5> Who sacrificed to pay the bill this time? </h5>
        <div id="share-with" class="row">
            <div class="col-xs-3 text-center text-uppercase avatar-container" ng-repeat="friend in friends | orderBy:'name'" ng-click="payer = friend.name+friend.surname; submitSplit()"><span class="avatar" ng-class="{'avatar--active': payer == friend.name+friend.surname }"><span ng-if="payer == friend.name+friend.surname" class="glyphicon glyphicon-ok"></span></span>{{friend.name + ' '  + friend.surname}}</div>
        </div>  

        <span ng-bind="message" class="text-center"></span> 
    </div>
    <div ng-show="!showChoosePayer">
      <h5> SHARE WITH </h5>
      <div id="share-with" class="row">
          <div class="col-xs-3 text-center text-uppercase avatar-container" ng-repeat="friend in friends | orderBy:'name'" ng-click="friend.active = !friend.active"><span class="avatar" ng-class="{'avatar--active': friend.active}"><span ng-if="friend.active" class="glyphicon glyphicon-ok"></span></span>{{friend.name + ' '  + friend.surname}}</div>
      </div>

      <h5> SPLIT SHARE</h5>
      <div id="share-with" class="row">
          <div class="col-xs-12" ng-repeat="friend in friends | filter:friend.active=true">
            <p ng-bind="friend.name +' ' + friend.surname" class="inline" style="width:30%"></p>
            <p ng-bind="friend.amount | currency:'$ ':2" class="inline" style="width:27%"></p>
            <input ng-model="friend.amount" class="inline" style="width:27%"></input>
            <button class="fixed-or-equal left inline" ng-class="{ active: friend.fix }" ng-click="friend.fix =  true">fix</button>
            <button class="fixed-or-equal right inline" ng-class="{ active: !friend.fix }" ng-click="friend.fix = false">same</button>
          </div>
      </div>
    </div>
</div>

<div id="submit-transaction">
    <div id="submit-btn" ng-click="beforeSubmitSplit()">SPLIT</div>
</div>